:root {
    --seco-color: #497d74;
    --text-color: #EFE9D5;
    --main-color: #27445D;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Barlow", sans-serif;
    min-height: 100vh;
    margin-bottom: 0;
    background:linear-gradient(var(--main-color),var(--seco-color));
}
header{
    padding: 1vh;
    flex: 1;
    background-color: var(--main-color);
    align-items: center;
    padding: 10px;
    
}
header ul{
    width: 100%;
    list-style: none;
    display: flex;
    margin-left: 50%;
    align-items: center;
}
header li{
    text-decoration: none;
    margin-right: 5vh;
    list-style: none;
}
.hyper{
    text-decoration: none;
    color: var(--text-color);
    margin-right: 5vh;
}
a.contact {
    color: var(--text-color);
    text-decoration: none;
}

a.contact:hover {
    text-decoration: underline;
    color: black;
}
.activate{
    -webkit-text-stroke: 1px var(--text-color);
    color: black;
}
header a:hover{
    -webkit-text-stroke: 1px var(--text-color);
    color: black;
    transition: 0.5s;
}
.headerDiv {
    max-width: 1920px;
    margin: 10px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
}

.logo{
    display: flex;
    margin-left: 1vh;
}
.textLogo{
    color: var(--text-color);
    font-weight: bold;
    font-family: monospace;
    font-size: 200%;
    display: block;
}
i{
    align-items: center;
    display: flex;
    font-size: 150%;
}
.bi-terminal{
    margin-right: 1vh;
    color:var(--text-color)
}
.main{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10vh;
}
.column{

    min-width: 200px;
    text-align: center;
}
.column img{
    width: 40%;
    border-radius: 60%;
    border: solid 10px var(--seco-color);
    justify-content: center;
}
.columntext{
    text-align: center;
    margin-top:10px;
    padding-left:100px;
    padding-right:100px;
    text-decoration: none;
}
.columntext h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;

}
.columntext p{
    display: flex;
    font-size: 25px;
}
.footer{
    background-color: var(--seco-color);
}
.animationcolumn{
   height: 25vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
}
.animationcolumn h1{
    font-size: 45px;
}
.animation{
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    text-transform: uppercase;
    overflow: hidden;
}
#carouselExample{
    width: 50%;
    display: flex;
}
.CarouselDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.animation span{
    position: relative;
    color:var(--text-color);
    animation: textani 10s ease infinite;
}
.ContactInfo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    margin: 15px 0;
    margin-left: 0%;
    color: var(--text-color);
}

@keyframes textani {
    0%,100% {
        top: 0;
    }
    20% {
        top: 0;  
    }
    25% {
        top: -50px;
    }
    45% {
        top: -50px;
    }
    50%{
        top: -100px;
    }
    70%{
        top: -100px;
    }
    75%{
        top: -150px;
    }
    95%{
        top: -150px;
    }   
}